*,*::after,*::before{
    margin:0;
    box-sizing:border-box ;
}

html{
    font-size:62.5%;
}

body{
    font-size:1.6rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.nav{
    display:flex;
    align-items:center;
    justify-content:space-around ;
    height:8vh;
    /* background-image:linear-gradient(to left,#00050D,#081219,#08141E,#051019,#030D14); */
     background: #01020b;
     border-radius: 10px;
     position: fixed;
     width:80%;
     z-index: 999;
     
}

.nav_brand{
    font-weight:bold;
    color:white;
}

.nav_menu{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.nav_toggler div{
    width:2.5rem;
    height:0.2rem;
    margin:0.4rem;
    background-color: darkgray;
    transition:0.4s ease-in;
}

.nav_toggler{
    cursor: pointer;
    display: none;
}

@media screen and (max-width:768px){
   .nav_toggler{
    display: block;
   }
   .nav_menu{
    position:fixed;
    top:7vh;
    right:0;
    width:50%;
    height:93vh;
    background:#01020b;
    flex-direction:column;
    transform:translateX(100%);
    transition:0.5s;
    z-index: 999;
   }
}

nav_active{
    transform:translateX(0)
}

.toggle .line1{
    transform: rotate(-45 deg) translate(-4px,5px);
}
.toggle .line2{
    opacity:0;
}
.toggle .line3{
    transform:rotate(45deg) translate(-4px,5px);
}

.nav_item a {
    color: white;
}

button{
    border:none;
    color:white;
    background: none;
    font-size:16px;
}

